@charset "UTF-8";

/* --------------------------------------------------- */
/* general */
body {
	font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
	font-size: 90%;
	color:#5A3E1C;
	line-height:18px;
	margin: 0;
	height:100%;
	padding: 0;
	background:#FFF url(../images/bg_heading.jpg) center top no-repeat;
}

html, body {height: 100%;}

body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}

#wrap {
	min-height: 100%;}

#main {
	min-height: 800px;
	overflow:auto;
	padding-bottom: 180px;}

#content {
	width: 950px;
	margin: 0px auto;
	clear: both;
	height: auto;
	display: block;
	overflow:auto;
}

li{
	list-style:none;
}

h1{
	font-size: 20pt;
	color: #51c1c8;
	padding-top:10px;
}
h2{
	font-size:20pt;
	color:#c5975a;
}

/* --------------------------------------------------- */
/* link */
a:link{
	text-decoration:underline;
	color:#51c1c8;
}

a:visited{
	text-decoration:none;
	color:#51c1c8;
}

a:hover{
	text-decoration:underline;
	color:#8bc53e;
}

a:active{
	text-decoration:underline;
	color:#8bc53e;
}

a:focus{
	outline:none;
	color:#8bc53e;
}

.none{
	display:none;
	}
	
.clear{
	clear:both;
	}
	
	
img{ 
	vertical-align:middle;
	}
	
a:hover img.hoverImg{
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=50 )";
}

/* --------------------------------------------------- */
/* table */
table,img { border:0;}
table td { vertical-align:top; text-align:left;}
table th { vertical-align:top; text-align:top;}
table th, table td{ padding:0px;
}

/* --------------------------------------------------- */
/* clearfix */
.clearfix:after {
	display:block; 
	height:0; 
	clear: both;
	visibility: hidden;}
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */
