@charset "UTF-8";

/* navigation bar */
#globalNavi {
	width: 950px;
	height:110px;
	margin-right: auto;
	margin-left: auto;
}

#globalNavi ul {
	padding: 0px;
}

#globalNavi ul li {
	display: block;
	text-align: center;
	float: left;
	padding-left:0px;
}

#nav { 
	width: 950px;
	text-align: center;
	position: relaive;
}

#nav li {
	list-style: none; 
	float: right; 
	position: relative; 
}

#nav ul { 
	display: none; 
	position: absolute; 
	top: 60px; 
	left: 0; 
	width:180px;
}

* html #nav ul { 
	line-height: 0; 
}

#nav ul li { 
	float: none; 
	margin-left:0px;
}

#nav ul ul { 
	top: 0; 
}

#nav ul a {
	font-size:14px; 
	display: block;
	width: 150px;
	background:#51c1c8;
	padding: 10px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
	zoom: 1;
	line-height: 1;
}

#nav ul a:hover { 
	background: #8bc53e;
	}

ul,li {
	padding:0; 
	margin-right: auto;
	margin-left: auto;
}

#logo {
	float: left;
	z-index:2;
	padding-left:0px;
	padding-right:140px;
	padding-top:0px;
}

.gn {	
	padding-top:24px;
	padding-bottom:24px;
}

/* --------------------------------------------------- */
/* footer */
.footer {
	background: url(../images/footer.png) center top repeat; 
	clear:both; 
	margin-top: -250px;
	height: 250px;
	position: relative;
}

.footerinner{
	-webkit-text-size-adjust: none;
	font-size: 85%;
	text-align:center;
	color: #FFF;
	margin: 0 auto;
	padding-top: 80px;
}

/* --------------------------------------------------- */
/* pagetop */
.pagetop {
	clear:both;
	width:100%;
	height:120px;
	text-align:center;
	padding-top:20px;
	margin-bottom:0px;
}

/* --------------------------------------------------- */
/* home-news */
.news{
	width: 950px;
	margin:0 auto; 
	vertical-align:top;
}
.newsinner{
	width: 830px;
	vertical-align:top;
	padding-left: 10px;
	padding-left: 10px;
}
.newsinner table td{
	border-bottom: 1px solid #8bc53e;
	padding: 6px 0px;
	line-height: 22px;
}

/* --------------------------------------------------- */
/* about-work enviorment */
.about{
	width: 910px;
	margin:0 auto; 
	vertical-align:top;
	padding-left: 20px;
	padding-right: 20px;
}
.about table td{
	border-bottom: 1px solid #8bc53e;
	padding: 2px 0px;
	line-height: 22px;
}
.service {
	background-image:url(../images/bg_service.png);
	width: 140px;
	height: 180px;
	float: left;
	margin-right: 27px;
    margin-top:15px;
	padding-left: 10px;
	padding-right: 10px;
}
.service2 {
	background-image:url(../images/bg_service.png);
	width: 140px;
	height: 180px;
	float: left;
    margin-top:15px;
	padding-left: 10px;
	padding-right: 10px;
}

/* --------------------------------------------------- */
/* portfolio */
.portfolio{
	width: 910px;
	margin:0 auto; 
	vertical-align:top;
	padding-left: 20px;
	padding-right: 20px;
}
.workbox {
	width: 220px;
	float: left;
	margin-right: 10px;
	margin-bottom:10px;
	padding: 0px;
}
.workbox2 {
	width: 220px;
	float: left;
	margin-bottom:10px;
	padding: 0px;
}
